<div th:fragment="header" class="messages" id="messages" xmlns:th="http://www.w3.org/1999/xhtml">

    <img class="header-logo"
         th:src="@{/images/logo.png}"/>
    <div class="button-container">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-link logout-design" type="submit"><img class="header-logo"
                                                                          style="transform: rotate(90deg);"
                                                                          th:src="@{/images/logout.png}"/>
            </button>
        </form>
    </div>
</div>