<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>test</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/chatAnalyzer.css">
</head>
<body>
<div class="main-window">
  <div class="main-panel">
    <div class="main-content">
      <div class="content-header">
        <img src="images/logo.png" alt="logo">
      </div>
      <div class="content-body">
        <div class="row justify-content-end">
          <div class="col-7">
            <h2>Chat with your friend and know his state of mind in 3 easy steps</h2>
            <form>
              <div class="form-group">
                <label for="name">1. Enter your name</label>
                <input type="name" class="form-control" id="name" placeholder="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">2. Invite through your friend's email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="abc@test.com">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">or copy and send link</label>
                <a><img   th:src="@{/images/asset-add-icon.png}"></a>
              </div>
              <div class="form-group">
                <button type="button" class="btn start-btn" data-toggle="modal" data-target="#myModal">Start Chat</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="content-footer">
        <p>
          <span>@ Nascenia Limited</span>
          <span class="pull-right"> Develope using <a href="#">IBM Watson </a> and Ruby on Rails</span>
        </p>
      </div>




      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content vanish-background">
            <div class="modal-body white-background">
              <p>Dear XYZ,</p>
              <p>I have found a great chatting tool where they will sh Dear XYZ, I have found a great chatting tool where they will sh  Dear XYZ, I have found a great chatting tool where they will sh  Dear XYZ, I have found a great chatting tool where they will sh Dear XYZ, I have found a great chatting tool where they will sh</p>
              <p>- Faruk</p>
            </div>
            <div class="modal-footer vanish-background keep-it-center">
              <button type="button" class="btn btn-secondary start-btn" data-dismiss="modal">send</button>
            </div>
          </div>
        </div>
      </div>


      <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/sockjs-0.3.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/highcharts.js}"></script>
      <script type="text/javascript" th:src="@{/js/highcharts-3d.js}"></script>
      <script type="text/javascript" th:src="@{/js/exporting.js}"></script>
      <script type="text/javascript" th:src="@{/js/hoy3lrg.js}"></script>
</html>