<!DOCTYPE html>
<html class='' xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta property="og:image"
        content="http://ec2-34-232-70-44.compute-1.amazonaws.com:8080/images/default-avatar.png"/>
  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">
  <meta property="og:url" content="http://ec2-34-232-70-44.compute-1.amazonaws.com:8080/login"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="tone analyzer"/>
  <meta property="og:description" content="we use machine learning"/>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
  <link rel="shortcut icon" type="image/x-icon"
        href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"/>
  <link rel="mask-icon" type=""
        href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
        color="#111"/>
  <link rel="canonical"
        href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+"/>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300'
        rel='stylesheet'
        type='text/css'>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/chatAnalyzer.css}"/>


  <script>try {
    Typekit.load({async: true});
  } catch (e) {
  }</script>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <style class="cp-pen-styles">
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: #27ae60;
      font-family: "proxima-nova", "Source Sans Pro", sans-serif;
      font-size: 1em;
      letter-spacing: 0.1px;
      color: #32465a;
      text-rendering: optimizeLegibility;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      -webkit-font-smoothing: antialiased;
    }
  </style>

  <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/sockjs-0.3.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/highcharts.js}"></script>
  <script type="text/javascript" th:src="@{/js/highcharts-3d.js}"></script>
  <script type="text/javascript" th:src="@{/js/exporting.js}"></script>
  <script type="text/javascript" th:src="@{/js/hoy3lrg.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.noty.min.js}"></script>
  <!-- <script type="text/javascript" src="https//connect.facebook.net/en_US/sdk.js"></script>-->
  <script type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js"></script>
  <script type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js"></script>
  <script type="text/javascript" src="http://canvg.github.io/canvg/canvg.js"></script>
</head>
<body>


<div id="fb-root"></div>


<div class="container">

  <div class="row">

    <div class="button-container">

      <form th:action="@{/logout}" method="post">
        <button class="btn btn-link logout-design" type="submit"><img class="header-logo"
                                                                      style="transform: rotate(90deg);"
                                                                      th:src="@{/images/logout.png}"/>
        </button>
      </form>
    </div>

    <div id="success-msg-mail-send">
      The mail has been sent successfully!
    </div>
  </div>

  <div class="row">

    <div id="noti_Container">
      <div id="noti_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->

      <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
      <div id="noti_Button"></div>

      <!--THE NOTIFICAIONS DROPDOWN BOX.-->
      <div id="notifications">
        <h3>Just happening</h3>
      </div>
    </div>
  </div>

  <div class="row">

    <input type="hidden" id="user-is-on-messagebox" name="user-is-on-messagebox"
           value=""/>
    <div id="frame">

      <div lang="en" class="header" th:include="fragments/header :: header"></div>
      <div id='ajax_loader' style="display: none;">
        <img class="header-logo"
             th:src="@{/images/ajax-loader.gif}"/>
      </div>

      <div id="sidepanel">
        <div lang="en" id="contacts"
             th:include="fragments/leftChatListContainer :: leftChatListContainer"></div>
      </div>

      <div lang="en" class="content" th:include="fragments/chatMessageContainer :: chatMessageContainer"></div>

      <div lang="en" class="footer" th:include="fragments/footer :: footer"></div>

    </div>
  </div>
</div>


<!-- Modal -->

<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="content-body">
        <div class="row">
          <div class="col-sm-7 col-sm-offset-5">
            <h2>Chat with your friend and know his state of mind in 3 easy steps</h2>
            <form>
              <div class="form-group">
                <label for="name">1. Enter your name</label>
                <input type="name" class="form-control" id="name" placeholder="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">2. Invite through your friend's email</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                       placeholder="abc@test.com">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">or copy and send link</label>
                <a><img id="generate-chat-link" th:src="@{/images/asset-add-icon.png}"></a>
              </div>
              <div class="form-group">
                <button type="button" class="btn start-btn" data-toggle="modal"
                        data-target="#myModal">Start Chat
                </button>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary" id="send-invitation-modal">
         Send
       </button>-->
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content vanish-background">
      <div class="modal-body white-background" id="invitation">
        <textarea class="form-control" id="email-invitation-text-area"></textarea>
      </div>
      <div class="modal-footer vanish-background keep-it-center promotion-mail-footer">
        <button type="button" class="btn btn-secondary start-btn" data-dismiss="modal"
                id="send-invitation-modal">send
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Default bootstrap modal example -->
<div class="modal fade" id="modal-end-conversation" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        Your conversation will end.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="conversation-end-ok">Ok</button>
      </div>
    </div>
  </div>
</div>


<!-- Default bootstrap modal example -->
<div class="modal fade" id="tone-analyzer-charts" tabindex="-1" role="dialog"
     aria-labelledby="toneAnalyzerModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tone-analyzer-charts-title"></h4>
      </div>
      <div class="content-header">
        <img src="images/logo.png" alt="logo" style=" display: block;margin: 0 auto;">
      </div>
      <div class="modal-body">

        <div id="render-div">
          <canvas id="canvas"></canvas>
        </div>
        <input type="hidden" id="generate-image-tone-analysis" name="generate-image-tone-analysis"
               value=""/>

        <div class="fb-share-button"
             data-href="http://ec2-34-232-70-44.compute-1.amazonaws.com:8080/login"
             data-layout="button_count">

          <ul class="social-share-area">
            <li><a>Share</a></li>
            <li><a><img th:height="50" id="share_button" th:width="50"
                        th:src="@{/images/facebook.png}"/></a></li>
            <li><a><img th:height="50" id="share_button" th:width="50"
                        th:src="@{/images/message-icon.png}"/></a></li>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
                id="conversation-share-cxancel">Cancel
        </button>
        <button type="button" class="btn btn-primary" id="conversation-share-ok">Ok</button>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">File upload form</h4>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <form method='post' action='' enctype="multipart/form-data">
          Select file : <input type='file' name='file' id='file' class='form-control'><br>
          <input type='button' class='btn btn-info' value='Upload' id='upload'>
        </form>

        <!-- Preview-->
        <div id='preview'></div>
      </div>

    </div>

  </div>
</div>

<input type="hidden" id="cur-user-uuid" name="cur-user-uuid" value=""/>


<input id="csrf_value" type="hidden"
       th:name="${_csrf.parameterName}"
       th:value="${_csrf.token}"/>

<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>
<script
    src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script>$(".messages").animate({scrollTop: $(document).height()}, "fast");

// this loads the Facebook API
(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {
    return;
  }
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function () {
  var appId = '160871787875627';
  FB.init({
    appId: appId,
    xfbml: true,
    version: 'v2.9'
  });
};

// FB Share with custom OG data.
(function ($) {

  $('#share_button').on('click', function (event) {
    event.preventDefault();
    event.stopPropagation();
    event.stopImmediatePropagation();
    $("#tone-analyzer-charts").modal('hide');
    var hidUrl = $("#generate-image-tone-analysis").val();
    console.log("hidden url: " + hidUrl);
    // Dynamically gather and set the FB share data.
    var FBDesc = 'learn more about machine learning with tone analyzer';
    var FBTitle = 'This is the tone analyzer';
    var FBLink = 'http://ec2-34-232-70-44.compute-1.amazonaws.com:8080/login';
    var FBPic = hidUrl;

    // Open FB share popup
    FB.ui({
          method: 'share_open_graph',
          action_type: 'og.shares',
          action_properties: JSON.stringify({
            object: {
              'og:url': FBLink,
              'og:title': FBTitle,
              'og:description': FBDesc,
              'og:image': FBPic
            }
          })
        },
        function (response) {
          // Action after response
        })
  })

})(jQuery);

$("#profile-img").click(function () {
  $("#status-options").toggleClass("online");
});

$(".expand-button").click(function () {
  $("#profile").toggleClass("expanded");
  $("#contacts").toggleClass("expanded");
});

$("#status-options ul li").click(function () {
  $("#profile-img").removeClass();
  $("#status-online").removeClass("online");
  $("#status-away").removeClass("online");
  $("#status-busy").removeClass("online");
  $("#status-offline").removeClass("online");
  $(this).addClass("online");

  if ($("#status-online").hasClass("online")) {
    $("#profile-img").addClass("online");
  } else if ($("#status-away").hasClass("online")) {
    $("#profile-img").addClass("away");
  } else if ($("#status-busy").hasClass("online")) {
    $("#profile-img").addClass("busy");
  } else if ($("#status-offline").hasClass("online")) {
    $("#profile-img").addClass("offline");
  } else {
    $("#profile-img").removeClass();
  }
  ;

  $("#status-options").removeClass("online");
});

</script>

<script>
  $(document).ready(function () {

    // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.

    // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
    $(document).click(function () {
      //$('#notifications').hide();

      // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
      if ($('#noti_Counter').is(':hidden')) {
        // CHANGE BACKGROUND COLOR OF THE BUTTON.
        $('#noti_Button').css('background-color', '#2E467C');
      }
    });

    $('#notifications').click(function () {
      return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
    });
  });
</script>

<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</body>
</html>