<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">


    <form  autocomplete="off" action="#" th:action="@{/review}" method="POST" class="form-signin" th:object="${reviewForm}" >
        <div class="form-group">
            <label for="review">Review:</label>
            <textarea  th:field="*{review}" class="form-control" rows="5" id="review"></textarea>
            <input type="hidden" th:value="${#authentication.principal.name}" th:field="*{name}" />
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Review" type="Submit"
                th:text="Review"></button>
    </form>
</div>


</body>
</html>