<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="icon" href="favicon.ico"/>

  <title>User Registration with Spring Boot</title>

  <!-- Bootstrap core CSS -->
  <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>

  <link th:href="@{css/style.css}" rel="stylesheet"/>
  <link th:href="@{css/fv.css}" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
<h4>Set Your Password</h4>

<div class="container">
  <div class="card card-container">
    <form class="form-signin" th:action="@{/confirmation-email}" method="post">
      <input type="hidden" name="token" th:value="${confirmationToken}">
      <input name="password" type="password" id="password"
             placeholder="Password" class="form-control" required/>
      <input type="hidden"
             th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}"/>
      <button type="submit" class="btn btn-primary block full-width m-b">Save</button>
    </form>
  </div>
</div>


<!--<form th:if="!${invalidToken}" class="m-t" id="passwordForm" role="form" action="#"
      th:object="${setPassword}" th:action="@{/confirmation-email}" method="post">

  <input type="hidden" name="token" th:value=${confirmationToken}>

  <div class="form-group input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
    <input name="password" type="password" id="password"
           placeholder="Password" class="form-control" required/>
    <span class="glyphicon"
          aria-hidden="true"></span>
  </div>

  <div class="form-group input-group has-feedback">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
    <input type="password" class="form-control" id="signup-password-confirm"
           placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"
           data-fv-notempty-message="Please confirm password"
           data-fv-identical="true"
           data-fv-identical-field="password"
           data-fv-identical-message="Both passwords must be identical"/>

    <div class="help-block with-errors"></div>
  </div>


  <button type="submit"
          class="btn btn-primary block full-width m-b">Save
  </button>

</form>
-->


<script th:src="@{js/fv.min.js}"></script>
</body>

</html>